In [1]:
import numpy as np
import pandas as pd 
matches=pd.read_csv('matches.csv')
matches.info()
matches.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577 entries, 0 to 576
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               577 non-null    int64
 1   season           577 non-null    int64
 2   city             570 non-null    object
 3   date             577 non-null    object
 4   team1            577 non-null    object
 5   team2            577 non-null    object
 6   toss_winner      577 non-null    object
 7   toss_decision    577 non-null    object
 8   result           577 non-null    object
 9   dl_applied       577 non-null    int64
 10  winner           574 non-null    object
 11  win_by_runs      577 non-null    int64
 12  win_by_wickets   577 non-null    int64
 13  player_of_match  574 non-null    object
 14  venue            577 non-null    object
 15  umpire1          577 non-null    object
 16  umpire2          577 non-null    object
 17  umpire3          0 non-null      float64
dtypes: float64(1), int64(5), object(12)
memory usage: 81.3+ KB

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2008,Bangalore,4/18/2008,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,140,0,BB McCullum,M Chinnaswamy Stadium,Asad Rauf,RE Koertzen,NaN
1,2,2008,Chandigarh,4/19/2008,Chennai Super Kings,Kings XI Punjab,Chennai Super Kings,bat,normal,0,Chennai Super Kings,33,0,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",MR Benson,SL Shastri,NaN
2,3,2008,Delhi,4/19/2008,Rajasthan Royals,Delhi Daredevils,Rajasthan Royals,bat,normal,0,Delhi Daredevils,0,9,MF Maharoof,Feroz Shah Kotla,Aleem Dar,GA Pratapkumar,NaN
3,4,2008,Mumbai,4/20/2008,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,normal,0,Royal Challengers Bangalore,0,5,MV Boucher,Wankhede Stadium,SJ Davis,DJ Harper,NaN
4,5,2008,Kolkata,4/20/2008,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,bat,normal,0,Kolkata Knight Riders,0,5,DJ Hussey,Eden Gardens,BF Bowden,K Hariharan,NaN

In [2]:
matches = matches[['team1', 'team2', 'city', 'toss_winner', 'toss_decision', 'winner']]
matches.info()
matches

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577 entries, 0 to 576
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   team1          577 non-null    object
 1   team2          577 non-null    object
 2   city           570 non-null    object
 3   toss_winner    577 non-null    object
 4   toss_decision  577 non-null    object
 5   winner         574 non-null    object
dtypes: object(6)
memory usage: 27.2+ KB

,team1,team2,city,toss_winner,toss_decision,winner
0,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders
1,Chennai Super Kings,Kings XI Punjab,Chandigarh,Chennai Super Kings,bat,Chennai Super Kings
2,Rajasthan Royals,Delhi Daredevils,Delhi,Rajasthan Royals,bat,Delhi Daredevils
3,Mumbai Indians,Royal Challengers Bangalore,Mumbai,Mumbai Indians,bat,Royal Challengers Bangalore
4,Deccan Chargers,Kolkata Knight Riders,Kolkata,Deccan Chargers,bat,Kolkata Knight Riders
...,...,...,...,...,...,...
572,Delhi Daredevils,Royal Challengers Bangalore,Raipur,Royal Challengers Bangalore,field,Royal Challengers Bangalore
573,Gujarat Lions,Royal Challengers Bangalore,Bangalore,Royal Challengers Bangalore,field,Royal Challengers Bangalore
574,Sunrisers Hyderabad,Kolkata Knight Riders,Delhi,Kolkata Knight Riders,field,Sunrisers Hyderabad
575,Gujarat Lions,Sunrisers Hyderabad,Delhi,Sunrisers Hyderabad,field,Sunrisers Hyderabad
576,Sunrisers Hyderabad,Royal Challengers Bangalore,Bangalore,Sunrisers Hyderabad,bat,Sunrisers Hyderabad

In [3]:
matches['winner'].fillna('Draw', inplace=True)
matches['city'].fillna('Dubai', inplace=True)
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 577 entries, 0 to 576
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   team1          577 non-null    object
 1   team2          577 non-null    object
 2   city           577 non-null    object
 3   toss_winner    577 non-null    object
 4   toss_decision  577 non-null    object
 5   winner         577 non-null    object
dtypes: object(6)
memory usage: 27.2+ KB

In [4]:
matches

,team1,team2,city,toss_winner,toss_decision,winner
0,Kolkata Knight Riders,Royal Challengers Bangalore,Bangalore,Royal Challengers Bangalore,field,Kolkata Knight Riders
1,Chennai Super Kings,Kings XI Punjab,Chandigarh,Chennai Super Kings,bat,Chennai Super Kings
2,Rajasthan Royals,Delhi Daredevils,Delhi,Rajasthan Royals,bat,Delhi Daredevils
3,Mumbai Indians,Royal Challengers Bangalore,Mumbai,Mumbai Indians,bat,Royal Challengers Bangalore
4,Deccan Chargers,Kolkata Knight Riders,Kolkata,Deccan Chargers,bat,Kolkata Knight Riders
...,...,...,...,...,...,...
572,Delhi Daredevils,Royal Challengers Bangalore,Raipur,Royal Challengers Bangalore,field,Royal Challengers Bangalore
573,Gujarat Lions,Royal Challengers Bangalore,Bangalore,Royal Challengers Bangalore,field,Royal Challengers Bangalore
574,Sunrisers Hyderabad,Kolkata Knight Riders,Delhi,Kolkata Knight Riders,field,Sunrisers Hyderabad
575,Gujarat Lions,Sunrisers Hyderabad,Delhi,Sunrisers Hyderabad,field,Sunrisers Hyderabad
576,Sunrisers Hyderabad,Royal Challengers Bangalore,Bangalore,Sunrisers Hyderabad,bat,Sunrisers Hyderabad

In [5]:
matches.replace(['Mumbai Indians','Kolkata Knight Riders','Royal Challengers Bangalore','Deccan Chargers','Chennai Super Kings',
                 'Rajasthan Royals','Delhi Daredevils','Gujarat Lions','Kings XI Punjab',
                 'Sunrisers Hyderabad','Rising Pune Supergiants','Kochi Tuskers Kerala','Pune Warriors']
                ,['MI','KKR','RCB','DC','CSK','RR','DD','GL','KXIP','SRH','RPS','KTK','PW'],inplace=True)

matches

    team1 team2        city toss_winner toss_decision winner
0     KKR   RCB   Bangalore         RCB         field    KKR
1     CSK  KXIP  Chandigarh         CSK           bat    CSK
2      RR    DD       Delhi          RR           bat     DD
3      MI   RCB      Mumbai          MI           bat    RCB
4      DC   KKR     Kolkata          DC           bat    KKR
..    ...   ...         ...         ...           ...    ...
572    DD   RCB      Raipur         RCB         field    RCB
573    GL   RCB   Bangalore         RCB         field    RCB
574   SRH   KKR       Delhi         KKR         field    SRH
575    GL   SRH       Delhi         SRH         field    SRH
576   SRH   RCB   Bangalore         SRH           bat    SRH

[577 rows x 6 columns]

In [6]:
encode = {'team1': {'MI':1,'KKR':2,'RCB':3,'DC':4,'CSK':5,'RR':6,'DD':7,'GL':8,'KXIP':9,'SRH':10,'RPS':11,'KTK':12,'PW':13},
          'team2': {'MI':1,'KKR':2,'RCB':3,'DC':4,'CSK':5,'RR':6,'DD':7,'GL':8,'KXIP':9,'SRH':10,'RPS':11,'KTK':12,'PW':13},
          'toss_winner': {'MI':1,'KKR':2,'RCB':3,'DC':4,'CSK':5,'RR':6,'DD':7,'GL':8,'KXIP':9,'SRH':10,'RPS':11,'KTK':12,'PW':13},
          'winner': {'MI':1,'KKR':2,'RCB':3,'DC':4,'CSK':5,'RR':6,'DD':7,'GL':8,'KXIP':9,'SRH':10,'RPS':11,'KTK':12,'PW':13,'Draw':14},
          'toss_decision':{'field':0,'bat':1},
          'city': {'Bangalore':1, 'Chandigarh':2, 'Delhi':3, 'Mumbai':4, 'Kolkata':5, 'Jaipur':6,
          'Hyderabad':7, 'Chennai':8, 'Cape Town':9, 'Port Elizabeth':10, 'Durban':11,
          'Centurion':12, 'East London':13, 'Johannesburg':14, 'Kimberley':15,
          'Bloemfontein':16, 'Ahmedabad':17, 'Cuttack':18, 'Nagpur':19, 'Dharamsala':20,
          'Kochi':21, 'Indore':22, 'Visakhapatnam':23, 'Pune':24, 'Raipur':25, 'Ranchi':26,
          'Abu Dhabi':27, 'Sharjah':28, 'Dubai':29, 'Rajkot':30, 'Kanpur':31}}
matches.replace(encode, inplace=True)
matches.head(2)

   team1  team2  city  toss_winner  toss_decision  winner
0      2      3     1            3              0       2
1      5      9     2            5              1       5

In [7]:
from sklearn.metrics import accuracy_score 
import sklearn.metrics as metrics
from sklearn.ensemble import RandomForestClassifier
def classification_model(model, data, predictors, outcome):
      model.fit(data[predictors],data[outcome])
      predictions = model.predict(data[predictors])
      print(predictions)
      accuracy = metrics.accuracy_score(predictions,data[outcome])
      print('Accuracy : %s' % '{0:.3%}'.format(accuracy))
model = RandomForestClassifier(n_estimators=100)
outcome_var = ['winner']
predictor_var = ['team1', 'team2','city','toss_winner','toss_decision']
classification_model(model, matches,predictor_var,outcome_var)

<ipython-input-7-598901844399>:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(data[predictors],data[outcome])

[ 3  5  7  1  2  6  7  1  6  9 14  5  1  9  5  1  3  9  6  7  3  2  1  6
  3  4  1  5  2  6  1  5  2  6  9  2  1  9  7  1  9  3  1  5  3  6  9  5
  9  1  5  3  2  6  5  6  5  6  1  3  7  4  5  2  4  7  6  9  4  7  9  4
  1  6  3  9  7  5  1  9  6  5  9  3  5  6  7  4  6  5  7  9  5  1  7  4
  3  1  7  3  6  9  5  4  9  7  2  3  2  5  7  3  4  3  4  2  6  7  2  4
  6  3  5  1  3  5  4  6  1  4  9  1  3  6  1  6  2  3  6  1  2  9  5  7
  2  3  5  1  9  7  6  5  6  2  3  1  4  3  9  6  4  1  5  3  7  4  1  2
  5  4  1  1  5  3  5  2  6  3  1 13  2  6  1  9 13  4  6 12  5  9  7  2
 12  4  1 12  9  5  3  9  1  6  5  3  5  4  2  6  3  7  2  6  5  1 12  2
  5  1 12  7  3  5  1  3 13  6 13  9  3  7  9  3  4  9 12  4  9  5  2  6
  4 14  3  1  5  1  3  5  1  7 13  6  3  5  6  9  1  3  7  1  5  9  2  4
  5  2  6  1  6  3  2  7  5  3  5 13  1  2  6 13  1  4  7  9  2  7  1  2
  4  7  3  1  5  2  6  1  3  2  6  9  1  5  3  1  5  6  9  1  5  7  1  9
  3  4  9  2  4  6  2  5  5  2  2  1 10  7  1  9 10  6  1  5  3 13 10  1
  5  2  6 13  2  3 10  6  5 10  5  3  7  9  5  3  9  1  5  2  6  1  5  7
  6  1  5 10  7  5  3  2 10  3  1  6  3  6  1  5  9  2  3  1 10  2  6  9
  1 13  7  1  9 10  9 13  3 10  5  6  1  1  2  3  9  6  3  7  9  5  9  5
  2 10  5  6  9  7  5  9  6 10  5  1  6  3  6  5  1  2  9 10  9 10  5  2
  6  1  5  3  9  2  6  3  2  1  9 10  2  9  3 10  1  9  3  2  9  1  2  5
  9  2  2  5  6  5  3  6  9  3  1  2  7  6  1  7  2  6  1  2  9 10  3  7
  3  1  5  3 10  2 14  5  7  1  3 10  1  6  5  2  1  3 10  5  2 10  3  5
 10  7  3  1  3  5  6  3  1  1  3  5  1 11  2  8  3  1  8  7  2  8  9  3
 10  2  1 10  3  7 10  8  2  1 11  8  1  8  2 10  9  1  2  7  2 11 10  3
  7 10  8  9 10  1  7  9  3  2 10  1  3 11  3  8  7 11  8  2  3  3 10 10
  3]
Accuracy : 88.562%

In [8]:
matches

     team1  team2  city  toss_winner  toss_decision  winner
0        2      3     1            3              0       2
1        5      9     2            5              1       5
2        6      7     3            6              1       7
3        1      3     4            1              1       3
4        4      2     5            4              1       2
..     ...    ...   ...          ...            ...     ...
572      7      3    25            3              0       3
573      8      3     1            3              0       3
574     10      2     3            2              0      10
575      8     10     3           10              0      10
576     10      3     1           10              1      10

[577 rows x 6 columns]

In [9]:
from sklearn import model_selection
from sklearn.tree import DecisionTreeClassifier
array = matches.values
x = array[:, 0:5]
y = array[:, 5]
validation_size = 0.10
seed = 7
x_train, x_validation, y_train, y_validation = model_selection.train_test_split(x, y, test_size=validation_size,random_state=seed)

In [10]:
from sklearn.model_selection import train_test_split
x_train, x_validation, y_train, y_validation = train_test_split(x, y, test_size=0.10,random_state=0)
from sklearn.tree import DecisionTreeClassifier
knn = DecisionTreeClassifier()
knn.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [11]:
predictions = knn.predict([['5','9','2','5','1']])
team = ''
if predictions[0] == 1:
    team = 'MI'
elif predictions[0] == 2:
    team = 'KKR'
elif predictions[0] == 3:
     team = 'RCB'
elif predictions[0] == 4:
     team = 'DC'
elif predictions[0] == 5:
    team = 'CSK'
elif predictions[0] == 6:
    team = 'RR'
elif predictions[0] == 7:
    team = 'DD'
elif predictions[0] == 8:
    team = 'GL'
elif predictions[0] == 9:
    team = 'KXIP'
elif predictions[0] == 10:
    team = 'SRH'
elif predictions[0] == 11:
    team = 'RPS'
elif predictions[0] == 12:
    team = 'KTK'
elif predictions[0] == 12:
    team = 'PW'
else:
    team = "Draw"
print(team)

CSK

In [12]:
# import joblib
# joblib.dump(knn, "IPL prediciton.pkl")

In [14]:
import numpy as np
ls = [1,2,4,1,0]
value = np.array(ls)
predictions = model.predict([value])
team = ''
if predictions[0] == 1:
    team = 'MI'
elif predictions[0] == 2:
    team = 'KKR'
elif predictions[0] == 3:
     team = 'RCB'
elif predictions[0] == 4:
     team = 'DC'
elif predictions[0] == 5:
    team = 'CSK'
elif predictions[0] == 6:
    team = 'RR'
elif predictions[0] == 7:
    team = 'DD'
elif predictions[0] == 8:
    team = 'GL'
elif predictions[0] == 9:
    team = 'KXIP'
elif predictions[0] == 10:
    team = 'SRH'
elif predictions[0] == 11:
    team = 'RPS'
elif predictions[0] == 12:
    team = 'KTK'
elif predictions[0] == 12:
    team = 'PW'
else:
    team = "Draw"
print(team)

MI